<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js">
</script>
<script src="/jsf.js"></script>
<head>
    <link rel="stylesheet" href="/css.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="headmenu">

    <div class="headmenubox noLogin">
        <ul>
            <li><a href="/main">로고</a></li>
            <li><a href="/main">Fitness Routine</a></li>
            <li><a href="/login">로그인 / 회원가입</a></li>
        </ul>
    </div>
</div>

</body>
</html>

